<div class="row align-items-center pb-4">
  <div class="col-md-1 col-lg-1 ">
    <div class="title">Address</div>
  </div>

  <div class="col-md-1 col-lg-1 offset-md-10 offset-lg-10">
    <button mat-button color="primary" style="height: 40%;font-size: 18px" [ngClass]="{'button-active': isEditable}"
            (click)="editData()">
      <ng-container *ngIf="isEditable; else editButton">
        Cancel
      </ng-container>
      <ng-template #editButton>
        Edit
      </ng-template>
    </button>
  </div>
</div>


<div class="row">

  <div class="col-md-3 property-column" [ngClass]="{'edit-blur': isEditable}">
    <div class="row">
      <div class="col label">
        Country
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{address.country | empty}}
      </div>
    </div>
  </div>

  <div class="col-md-3 property-column" [ngClass]="{'edit-blur': isEditable}">
    <div class="row">
      <div class="col label">
        State
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{address.state | empty}}
      </div>
    </div>
  </div>

  <div class="col-md-3 property-column" [ngClass]="{'edit-blur': isEditable}">
    <div class="row">
      <div class="col label">
        City
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{address.city | empty}}
      </div>
    </div>
    </div>

  <div class="col-md-3 property-column" [ngClass]="{'edit-blur': isEditable}">
    <div class="row">
      <div class="col label">
        Street
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{address.street | empty}}
      </div>
    </div>
  </div>

</div>


<ng-container *ngIf="isEditable">
  <div class="edit-form">

    <form [formGroup]="formMerge" (ngSubmit)="mergeAddress()">

      <mat-form-field appearance="legacy" class="mat-form-field-flex">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country" formControlName="country">
      </mat-form-field>

      <error-form [control]="'country'" [form]="formMerge"></error-form>

      <mat-form-field appearance="legacy" class="mat-form-field-flex">
        <mat-label>State</mat-label>
        <input matInput placeholder="State" formControlName="state">
      </mat-form-field>

      <error-form [control]="'state'" [form]="formMerge"></error-form>


      <mat-form-field appearance="legacy" class="mat-form-field-flex">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city">
      </mat-form-field>

      <error-form [control]="'city'" [form]="formMerge"></error-form>


      <mat-form-field appearance="legacy" class="mat-form-field-flex">
        <mat-label>Street</mat-label>
        <input matInput placeholder="Street" formControlName="street">
      </mat-form-field>

      <error-form [control]="'street'" [form]="formMerge"></error-form>


      <button class="mat-flat-button save-button" mat-flat-button type="submit" color="primary">Save</button>

    </form>
  </div>
</ng-container>


