<div class="context">
  <div class="personal-title">Personal data</div>
  <mat-divider></mat-divider>
  <app-section-my-personal [profile]="profile"></app-section-my-personal>
  <mat-divider></mat-divider>
    <app-section-roles [roles]="myRoles" [myProfile]="true"></app-section-roles>
  <mat-divider></mat-divider>
  <app-section-address [address]="profile.address" [myProfile]="true"></app-section-address>
  <mat-divider></mat-divider>
  <app-section-contact [contact]="profile.contact" [myProfile]="true"></app-section-contact>
  <mat-divider></mat-divider>
  <app-section-cars [cars]="profile.carsList" [myProfile]="true"></app-section-cars>
  <mat-divider></mat-divider>
  <app-section-friends [friendsList]="friends" [myProfile]="true"></app-section-friends>
</div>
