<div *ngIf="formUtils.shouldShowErrors(control, form)" class="row cds-errors">
  <ng-container *ngIf="message == null">
    <ng-container *ngFor="let err of formUtils.getErrorMsgs(control, form, allMessages)">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-1 w-100 error-message" style="font-size: inherit">
       <div [innerHTML]="err"></div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="message && canShowSingleMessage()">
    <div class="row error-message">
      {{message}}
    </div>
  </ng-container>
</div>
