<div class="title">Contact</div>
<ng-container *ngIf="contact ; else notFound">
  <div class="row">

    <div class="col-md-4 property-column">
      <div class="row">
        <div class="col label">
          Email
        </div>
      </div>
      <div class="row">
        <div class="col data">
          {{contact.email}}
        </div>
      </div>
    </div>

    <div class="col-md-4 property-column">
      <div class="row">
        <div class="col label">
          Phone number
        </div>
      </div>
      <div class="row">
        <div class="col data">
          {{contact.phone}}
        </div>
      </div>
    </div>

    <div class="col-md-4 property-column">
      <div class="row">
        <div class="col label">
          Facebook
        </div>
      </div>
      <div class="row">
        <div class="col data">
          {{contact.facebook}}
        </div>
      </div>
    </div>

    <div class="col-md-4 property-column">
      <div class="row">
        <div class="col label">
          Instagram
        </div>
      </div>
      <div class="row">
        <div class="col data">
          {{contact.instagram}}
        </div>
      </div>
    </div>


    <div class="col-md-4 property-column">
      <div class="row">
        <div class="col label">
          Twitter
        </div>
      </div>
      <div class="row">
        <div class="col data">
          {{contact.twitter}}
        </div>
      </div>
    </div>

    <div class="col-md-4 property-column">
      <div class="row">
        <div class="col label">
          Skype
        </div>
      </div>
      <div class="row">
        <div class="col data">
          {{contact.skype}}
        </div>
      </div>
    </div>

  </div>
</ng-container>

<ng-template #notFound>
  <div class="row">
    <div class="col label">
      Please create contact data
    </div>
  </div>
</ng-template>
