<div class="container">
  <div class="row align-items-center">
    <div class="col-md-2">
      <div class="title">Contact</div>
    </div>

    <div class="col offset-md-8">
      <button mat-button color="primary" style="height: 40%;font-size: 18px" (click)="editData()">Edit</button>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-4 property-column">
    <div class="row">
      <div class="col label">
        Email
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{contact.email | empty}}
      </div>
      </div>
    </div>

    <div class="col-md-4 property-column">
      <div class="row">
        <div class="col label">
          Phone number
        </div>
      </div>
      <div class="row">
        <div class="col data">
          {{contact.phone | empty}}
        </div>
      </div>
    </div>

    <div class="col-md-4 property-column">
      <div class="row">
        <div class="col label">
          Facebook
        </div>
      </div>
      <div class="row">
        <div class="col data">
          {{contact.facebook | empty}}
        </div>
      </div>
    </div>

    <div class="col-md-4 property-column">
      <div class="row">
        <div class="col label">
          Instagram
        </div>
      </div>
      <div class="row">
        <div class="col data">
          {{contact.instagram | empty}}
        </div>
      </div>
    </div>


    <div class="col-md-4 property-column">
      <div class="row">
        <div class="col label">
          Twitter
        </div>
      </div>
      <div class="row">
        <div class="col data">
          {{contact.twitter | empty}}
        </div>
      </div>
    </div>

    <div class="col-md-4 property-column">
      <div class="row">
        <div class="col label">
          Skype
        </div>
      </div>
      <div class="row">
        <div class="col data">
          {{contact.skype | empty}}
        </div>
      </div>
    </div>

  </div>

