@import "~bootstrap";
@import "src/app/shared/styles/common-classes";

.display-flex{
  display: flex;
}
.title{
  color: $custom-blue;
  padding-bottom: 30px;
  font-size: $font-size-Xbig;
  font-weight: bold;
}
