@import "src/app/modules/profiles/components/profile-sections/section";
@import "~@fortawesome/fontawesome-free/css/all.css";

.padding-class {
  padding-top: 35px;
  padding-bottom: 20px;
}

.icon-to-click-social {
  padding-left: 20px;
  font-size: $font-size-big;
  color: $custom-blue;
}
