<div class="row align-items-center pb-4">
  <div class="col-md-1 col-lg-1 ">
    <div class="title">Details</div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 property-column">
    <div class="row">
      <div class="col label">
        Name
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{user.name}}
      </div>
    </div>
  </div>

  <div class="col-md-3 property-column">
    <div class="row">
      <div class="col label">
        Last Name
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{user.lastName}}
      </div>
    </div>
  </div>

  <div class="col-md-3 property-column">
    <div class="row">
      <div class="col label">
        Gender
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{user.gender | empty}}
      </div>
    </div>
  </div>


  <div class="col-md-3 property-column">
    <div class="row">
      <div class="col label">
        Points
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{user.points}}
      </div>
    </div>
  </div>
</div>
