@import "node_modules/bootstrap";
@import "src/styles";

.error-message {
  color: $custom-warn;
  padding-bottom: 15px;
  text-align: right;
}

.context {
  padding-top: 60px;
}

.login-form {
  width: 100%;
  padding-bottom: 20px;
}

.full-width {
  width: 100%;
}

.title {
  color: $custom-blue;
  font-size: $font-size-big;
  padding: 15px;
  text-align: right;
}

button {
  background-color: $custom-blue;
  color: $custom-white;
  width: 100%;
  height: 30px;
  border-radius: 10px;
}
