<div class="context">
<div class="title-page p-3" *ngIf="!postsForProfile">Posts</div>
<div class="title-page p-3" *ngIf="postsForProfile">Account's posts</div>
<div class="row sub-title" *ngIf="myId==idProfileToShow || !postsForProfile">
  <div class="col">
    <div (click)="addNew()">Create new post</div>
  </div>
</div>
<div class="row section-filter">
  <div class="col">
    <div (click)="openFilter()">
      <mat-icon *ngIf="!filterOpen">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="filterOpen">keyboard_arrow_up</mat-icon>

      Filter
    </div>
  </div>
  <ng-container *ngIf="filterOpen">
    <app-filter-posts [postTypeList]="postTypeList" [postStateList]="postStateList"
                      (filterTypeEvent)="filterType($event)"
                        (applyCarFilterEvent)="applyCarFilter($event)" (clearFilterEvent)="clearCarFilter()"
                        (applyStateFilterEvent)="applyStateFilter($event)"  ></app-filter-posts>
  </ng-container>
</div>

<div class="not-found">
  {{errorMessage | async}}
</div>

<div class="mb-3">

  <ng-container *ngIf="!(isLoading |async); else spinner">
<app-posts-list [postsList]="postsListObs| async" [myId]="myId" [isAdmin]="isAdmin"
                (deletePostEvent)="deletePost($event)" (resolvePostEvent)="resolvePost($event)"
                (refreshPostsEvent)="refreshPosts()"></app-posts-list>
  </ng-container>
</div>

<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
</div>
