<div class="title-page p-3" *ngIf="!postsForProfile">Posts</div>
<div class="title-page p-3" *ngIf="postsForProfile">Your posts</div>
<div class="row create-button" *ngIf="myId==idProfileToShow || !postsForProfile">
  <div class="col">
    <div (click)="addNew()">Create new post</div>
  </div>
</div>
<div class="row section-filter">
  <div class="col">
    <div (click)="openFilter()">
      <mat-icon *ngIf="!filterOpen">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="filterOpen">keyboard_arrow_up</mat-icon>

      Filter
    </div>
  </div>
  <ng-container *ngIf="filterOpen">
    <app-filter-posts [postTypeList]="postTypeList"
                      (filterTypeEvent)="filterType($event)"
                        (applyCarFilterEvent)="applyCarFilter($event)" (clearFilterEvent)="clearCarFilter()" ></app-filter-posts>
  </ng-container>
</div>

<div class="not-found">
  {{errorMessage | async}}
</div>

<app-posts-list [postsList]="postsListObs| async" [myId]="myId"
                (deletePostEvent)="deletePost($event)"></app-posts-list>
