@import "src/app/shared/styles/common-classes";
@import "~bootstrap";

.create-button {
  color: $custom-blue;
  font-size: $font-size-big;
  font-style: italic;
  padding-left: 30px;
  padding-bottom: 20px;
  cursor: pointer;
  width: fit-content;

}

.section-filter {
  padding: 20px 0 20px 45px;
  cursor: pointer;
  width: fit-content;
}
.not-found{
  color: $custom-warn;
  font-size: $font-size-medium;
  padding-bottom: 20px;
  padding-left: 10%;
}



