@import "~bootstrap";
@import "src/styles";

.top-bar {
  position: fixed;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
  background-image: linear-gradient($custom-grey, darken($custom-grey, 2%));
  z-index: 2;
}

.context {
  padding-top: 10px;
  color: $custom-white;
}

.my-icon {
  font-size: 16px;
  padding-right: 20px;
}

.personal-data {
  text-align: right;
}

.icon-container {

}
