<div class="context">
  <div class="container">
    <div class="row title">
      Login
    </div>
    <div class="row">
      <div class="col-md-4">
        <form class="login-form" [formGroup]="form" (ngSubmit)="login()">
          <mat-form-field appearance="legacy" class="login-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="login-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" type="password">
          </mat-form-field>
          <div class="row error-message" *ngIf="errorMessage | async as errorMessage">
            <div class="col">
              {{errorMessage}}
            </div>
          </div>
          <button mat-flat-button type="submit" color="primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>


