@import "~bootstrap";

.error-message {
  color: #ef3727;
}

.context {
  padding-top: 60px;
}

.login-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}
