<div class="container">
  <div class="row align-items-center">
    <div class="col-md-2">
      <div class="title">Address</div>
    </div>

    <div class="col offset-md-8">
      <button mat-button color="primary" style="height: 40%;font-size: 18px" (click)="editData()">Edit</button>
    </div>

  </div>
</div>


<div class="row">

  <div class="col-md-4 property-column" [ngClass]="{'edit-blur': isEditable}">
    <div class="row">
      <div class="col label">
        Country
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{address.country | empty}}
      </div>
    </div>
    </div>

  <div class="col-md-4 property-column" [ngClass]="{'edit-blur': isEditable}">
    <div class="row">
      <div class="col label">
        City
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{address.city | empty}}
      </div>
    </div>
    </div>

  <div class="col-md-4 property-column" [ngClass]="{'edit-blur': isEditable}">
    <div class="row">
      <div class="col label">
        Street
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{address.street | empty}}
      </div>
    </div>
    </div>

  </div>

