<div class="row align-items-center pb-4">
  <div class="col-md-1 col-lg-1 ">
    <div class="title color-white">Contact</div>
  </div>
<ng-container *ngIf="myProfile">
  <div class="col-md-1 col-lg-1 offset-md-10 offset-lg-10">
    <button mat-button color="primary" style="height: 40%;font-size: 18px" [ngClass]="{'button-active': isEditable}"
            (click)="editData()">
      <ng-container *ngIf="isEditable; else editButton">
        Cancel
      </ng-container>
      <ng-template #editButton>
        Edit
      </ng-template>
    </button>
  </div>
</ng-container>
</div>


<div class="row">

  <div class="col-md-4 property-column" [ngClass]="{'edit-blur': isEditable}">
    <div class="row">
      <div class="col label">
        Email
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{contact.email | empty}}
      </div>
    </div>
    </div>

  <div class="col-md-4 property-column" [ngClass]="{'edit-blur': isEditable}">
    <div class="row">
      <div class="col label">
        Phone number
      </div>
    </div>
    <div class="row">
      <div class="col data">
        {{contact.phone | empty}}
      </div>
    </div>
  </div>
</div>


<div class="row " [ngClass]="{'edit-blur': isEditable}">
  <div class="col label">
    Social Media
  </div>
</div>

<div class="row property-column" [ngClass]="{'edit-blur': isEditable}">
  <div class="col-md-1 col-lg-1" *ngIf="contact.facebook">
    <a href="{{contact.facebook}}" target="_blank">
      <mat-icon class="icon-to-click-social click" fontSet="fab" fontIcon="fa-facebook"></mat-icon>
    </a>
  </div>
  <div class="col-md-1 col-lg-1" *ngIf="contact.instagram">
    <a href="{{contact.instagram}}" target="_blank">
      <mat-icon class="icon-to-click-social click" fontSet="fab" fontIcon="fa-instagram"></mat-icon>
    </a>
  </div>
  <div class="col-md-1 col-lg-1" *ngIf="contact.twitter">
    <a href="{{contact.twitter}}" target="_blank">
      <mat-icon class="icon-to-click-social click" fontSet="fab" fontIcon="fa-twitter"></mat-icon>
    </a>
  </div>
  <div class="col-md-1 col-lg-1" *ngIf="contact.skype">
    <a href="{{contact.skype}}" target="_blank">
      <mat-icon class="icon-to-click-social click" fontSet="fab" fontIcon="fa-skype"></mat-icon>
    </a>
  </div>
  <div class="col-md-1 col-lg-1" *ngIf="contact.youtube">
    <a href="{{contact.youtube}}" target="_blank">
      <mat-icon class="icon-to-click-social click" fontSet="fab" fontIcon="fa-youtube"></mat-icon>
    </a>
  </div>


</div>


<ng-container *ngIf="isEditable">
  <div class="edit-form">

    <form [formGroup]="formMerge" (ngSubmit)="mergeContact()">

      <mat-form-field appearance="legacy" class="mat-form-field-flex">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>

      <error-form [control]="'email'" [form]="formMerge"></error-form>

      <mat-form-field appearance="legacy" class="mat-form-field-flex">
        <mat-label>Phone number</mat-label>
        <input matInput placeholder="Phone number" formControlName="phone">
      </mat-form-field>
      <error-form [control]="'phone'" [form]="formMerge" [allMessages]="validationMessages"></error-form>

      <div class="padding-class">Please insert your link to pages:</div>

      <mat-form-field appearance="legacy" class="mat-form-field-flex">
        <mat-label>Facebook</mat-label>
        <input matInput placeholder="Facebook" formControlName="facebook">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mat-form-field-flex">
        <mat-label>Instagram</mat-label>
        <input matInput placeholder="Instagram" formControlName="instagram">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mat-form-field-flex">
        <mat-label>Twitter</mat-label>
        <input matInput placeholder="Twitter" formControlName="twitter">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mat-form-field-flex">
        <mat-label>Skype</mat-label>
        <input matInput placeholder="Skype" formControlName="skype">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mat-form-field-flex">
        <mat-label>Youtube</mat-label>
        <input matInput placeholder="Youtube" formControlName="youtube">
      </mat-form-field>


      <button class="mat-flat-button save-button" mat-flat-button type="submit" color="primary">Save</button>

    </form>
  </div>
</ng-container>
