<div class="row create-button">
  <div class="col">
    <div (click)="addNew()">Create new post</div>
  </div>
</div>

<div class="row section-filter">
  <div class="col">
    <div (click)="openFilter()">
      <mat-icon *ngIf="!filterOpen">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="filterOpen">keyboard_arrow_up</mat-icon>

      Filter
    </div>
  </div>
  <ng-container *ngIf="filterOpen">
    <app-filter-posts [postTypeList]="postTypeList" (filterTypeEvent)="filterType($event)"></app-filter-posts>
  </ng-container>
</div>

<app-posts-list [postsList]="postsListObs| async" [allUsers]="users | async"></app-posts-list>
