@import "src/styles";
@import "~bootstrap";

.create-button {
  color: $custom-blue;
  font-size: $font-size-big;
  font-style: italic;
  padding-left: 30px;
  padding-bottom: 20px;
  cursor: pointer;
  width: fit-content;

}

.section-filter {
  padding: 20px 0 20px 45px;
  cursor: pointer;
  width: fit-content;
}

.personal-title {
  color: $custom-white;
  padding-bottom: 20px;
  font-size: $font-size-Xbig;
  font-weight: bold;
}

