@import "src/styles";
@import "~bootstrap";

.context {
  padding: 10px 5% 15px 5%;
  color: $custom-white;
  cursor: pointer;
  min-width: 250px;
}

.border {
  border-radius: 10px;
  border: 3px solid;
  background-color: $custom-grey;
}

.user-names {
  font-size: $font-size-big;
}

.date-message {
  font-size: $font-size-medium;
  padding: 3px 50px 0 0;
  text-align: right;
  min-width: 200px;
}

.last-content {
  font-size: $font-size-medium;
  padding: 3px 20px 10px 30px;
}

.unread {
  font-weight: bold;
  color: $custom-blue;
}

.bold {
  font-weight: bold;
}
