<div class="context">


  <div class="border mat-elevation-z18">

    <div class="row">
      <div class="col">
        <div class="date-message">
          {{message.createdDate | date: 'medium'}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="user-names p-3" [ngClass]="{'bold': message.read==false}">
          {{receiverName}} {{receiverLastName}}
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="last-content" [ngClass]="{'unread': message.read==false}">
          <ng-container *ngIf="message.received==false; else fromFriend">You:</ng-container>
          {{message.messageContent}}
        </div>
      </div>
    </div>


  </div>
</div>

<ng-template #fromFriend>{{receiverName}}:</ng-template>
