<div class="edit-form">

  <form [formGroup]="formMerge" (ngSubmit)="mergeCar()">

    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="legacy" class="pl-1 full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <error-form [control]="'name'" [form]="formMerge"></error-form>
      </div>

      <div class="col-md-3">

        <mat-form-field appearance="legacy" class="pl-1 full-width">
          <mat-label>Registration</mat-label>
          <input matInput placeholder="Registration" formControlName="registration">
        </mat-form-field>

      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="legacy" class="pl-1 full-width">
          <mat-label>Company</mat-label>
          <input matInput placeholder="Comapany" formControlName="company">
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="legacy" class="pl-1 full-width">
          <mat-label>Model</mat-label>
          <input matInput placeholder="Model" formControlName="model">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="legacy" class="pl-1 full-width">
          <mat-label>Generation</mat-label>
          <input matInput placeholder="Generation" formControlName="generation">
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="legacy" class="pl-1 full-width">
          <mat-label>Year</mat-label>
          <input matInput placeholder="Year" formControlName="year">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="legacy" class="pl-1 full-width">
          <mat-label>Color</mat-label>
          <input matInput placeholder="Color" formControlName="color">
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="legacy" class="pl-1 full-width">
          <mat-label>Engine</mat-label>
          <input matInput placeholder="Engine" formControlName="engine">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="legacy" class="pl-1 full-width">
          <mat-label>Horsepower</mat-label>
          <input matInput placeholder="Horsepower" formControlName="horsepower">
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="legacy" class="pl-1 full-width">
          <mat-label>Torque</mat-label>
          <input matInput placeholder="Torque" formControlName="torque">
        </mat-form-field>
      </div>
    </div>

    <button class="mat-flat-button save-button" mat-flat-button type="submit" color="primary">Save</button>

  </form>
</div>
