<div class="back" (click)="goToAllPosts()">
  <mat-icon matTooltip="Back" matTooltipPosition="right">keyboard_backspace</mat-icon>
</div>

<div class="row">
  <div class="title">Create Post</div>
</div>
<div class="pl-3 pr-3">
  <form class="login-form" [formGroup]="formBasic" (ngSubmit)="addPost()">

    <div class="row">
      <div class="col-md-2 col-lg-2 ">
        <mat-form-field appearance="legacy" class="full-width">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <ng-container *ngFor="let type of postTypeList">
              <mat-option *ngIf="type!='ALL'" [value]="type">{{type}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <error-form [control]="'type'" [form]="formBasic"></error-form>

      </div>

      <div class="col-md-4 col-lg-4">
        <mat-form-field appearance="legacy" class="full-width">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
        <error-form [control]="'title'" [form]="formBasic"></error-form>

      </div>
    </div>

    <div class="row">


      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="legacy" class="full-width">
          <mat-label>Context</mat-label>
          <textarea matInput #body maxlength="256" placeholder="Context" formControlName="body"></textarea>
          <mat-hint align="end">{{body.value.length}} / 256</mat-hint>
        </mat-form-field>
        <error-form [control]="'body'" [form]="formBasic"></error-form>

      </div>
      <div class="col-md-5 col-lg-5 "></div>

    </div>


    <div class="row">
      <div class="title">Address</div>
    </div>
    <div class="row" [ngClass]="{'edit-blur': !currentAddressEnabled || useOtherAddress}">
      <div class="col-md-4 col-lg-4">
        <mat-label class="pr-3">Use current profile address: <b>{{currentAddress.city}}, {{currentAddress.street}}</b>
        </mat-label>
        <input type="checkbox" formControlName="address" *ngIf="!useOtherAddress" (ngModelChange)="addressValidator()">

      </div>
    </div>

    <div class="row" *ngIf="useOtherAddress">
      <div class="col-md-4 col-lg-4">
        Selected address: <b>{{currentAddress.country}}, {{currentAddress.city}}, {{currentAddress.state}}
        , {{currentAddress.street}}</b>
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-md-2 col-lg-2">
        <button type="button" class="add-car"
                mat-flat-button color="accent" (click)="addOtherAddress()" *ngIf="!otherAddressContainer">Other address
        </button>

        <button type="button" class="add-car"
                mat-flat-button color="warn" (click)="addOtherAddress()" *ngIf="otherAddressContainer">Cancel
        </button>
      </div>

      <div class="col-md-2 col-lg-2" *ngIf="useOtherAddress">
        <button type="button" class="add-car"
                mat-flat-button color="accent" (click)="backToProfileAddress()" *ngIf="!otherAddressContainer">Profile
          address
        </button>

      </div>

      <error-form [control]="'address'" [form]="formBasic" [allMessages]="validationMessages"></error-form>

    </div>

    <div class="row pl-3" *ngIf="otherAddressContainer">

      <form [formGroup]="formAddress" (ngSubmit)="saveOtherAddress()">

        <mat-form-field appearance="legacy" class="mat-form-field-flex">
          <mat-label>Country</mat-label>
          <input matInput placeholder="Country" formControlName="country">
        </mat-form-field>
        <error-form [control]="'country'" [form]="formAddress"></error-form>

        <mat-form-field appearance="legacy" class="mat-form-field-flex">
          <mat-label>State</mat-label>
          <input matInput placeholder="State" formControlName="state">
        </mat-form-field>
        <error-form [control]="'state'" [form]="formAddress"></error-form>

        <mat-form-field appearance="legacy" class="mat-form-field-flex">
          <mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
        <error-form [control]="'city'" [form]="formAddress"></error-form>

        <mat-form-field appearance="legacy" class="mat-form-field-flex">
          <mat-label>Street</mat-label>
          <input matInput placeholder="Street" formControlName="street">
        </mat-form-field>
        <error-form [control]="'street'" [form]="formAddress"></error-form>


        <div class="row">
          <div class="col-md-2  col-lg-2 offset-2">
            <button class="button-submit" mat-flat-button type="submit" color="primary">Use it</button>
          </div>
        </div>

      </form>
    </div>


    <div class="row">
      <div class="title">Car</div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <mat-form-field appearance="legacy" class="full-width">
          <mat-label>Car</mat-label>
          <mat-select formControlName="car">
            <mat-option *ngFor="let car of userCarList" [value]="car.id">'{{car.name}}' - {{car.company}}
              , {{car.model}}</mat-option>
          </mat-select>
        </mat-form-field>
        <error-form [control]="'car'" [form]="formBasic"></error-form>

      </div>

      <div class="col-md-3 col-lg-3">
        <button type="button" class="add-car"
                mat-flat-button color="accent" (click)="addCarChange()" *ngIf="!addNewCar">Add new car
        </button>

        <button type="button" class="add-car"
                mat-flat-button color="warn" (click)="addCarChange()" *ngIf="addNewCar">Cancel
        </button>
      </div>

    </div>

    <ng-container *ngIf="addNewCar">
      <app-add-edit-car [isCarAdd]="true" (closeTemplate)="addCarChange()"></app-add-edit-car>
    </ng-container>

    <div class="row">
      <div class="col-md-2 offset-6">
        <button class="button-submit" mat-flat-button type="submit" color="primary">Post</button>
      </div>

    </div>

  </form>
</div>
