<div class="row align-items-center pb-4">
  <div class="col-md-1 col-lg-1 ">
    <div class="title">Roles</div>
  </div>
</div>

<div class="row" *ngIf="myProfile==false">
  <div class="col-md-3 property-column" *ngIf="isCurrentUserModerator()">
    <div class="row">
      <div class="col label">
        User
      </div>
    </div>
    <div class="row">
      <div class="col data">
        <ng-container *ngIf="isProfileUser()">
          ENABLED
        </ng-container>
      </div>
    </div>
  </div>


  <div class="col-md-3 property-column" *ngIf="isCurrentUserModerator()">
    <div class="row">
      <div class="col label">
        Moderator
      </div>
    </div>
    <div class="row">
      <div class="col data">
        <ng-container *ngIf="isProfileModerator()">
          ENABLED
        </ng-container>

        <ng-container *ngIf="!isProfileModerator()">
          <button class="button-set-role" type='submit' (click)="setModerator()">Set</button>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="col-md-3 property-column" *ngIf="isCurrentUserAdmin()">
    <div class="row">
      <div class="col label">
        Admin
      </div>
    </div>
    <div class="row">
      <div class="col data">
        <ng-container *ngIf="isProfileAdmin()">
          ENABLED
        </ng-container>
        <ng-container *ngIf="!isProfileAdmin()">
          <button class="button-set-role" type='submit' (click)="setAdmin()">Set</button>
        </ng-container>
      </div>
    </div>
  </div>

</div>

<div class="row" *ngIf="myProfile">
  <div class="col-md-3 property-column">
    <div class="row">
      <div class="col label">
        User
      </div>
    </div>
    <div class="row">
      <div class="col data">
        <ng-container *ngIf="isProfileUser()">
          ENABLED
        </ng-container>
      </div>
    </div>
  </div>

  <div class="col-md-3 property-column">
    <div class="row">
      <div class="col label">
        Moderator
      </div>
    </div>
    <div class="row">
      <div class="col data">
        <ng-container *ngIf="isProfileModerator(); else notFound">
          ENABLED
        </ng-container>

      </div>
    </div>
  </div>

  <div class="col-md-3 property-column">
    <div class="row">
      <div class="col label">
        Admin
      </div>
    </div>
    <div class="row">
      <div class="col data">
        <ng-container *ngIf="isProfileAdmin(); else notFound">
          ENABLED
        </ng-container>
      </div>
    </div>
  </div>

</div>


<ng-template #notFound>
  DISABLED
</ng-template>
