@import "src/app/modules/profiles/components/profile-sections/section";

.button-set-role {
  background-color: $custom-blue;
  color: $custom-white;
  width: 30%;
  height: 25px;
  border-radius: 15px;

}
