@import "src/styles";
@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

.title {
  color: $custom-white;
  padding: 20px;
  font-size: $font-size-big;
}

.property-column {
  padding-bottom: 20px;
}

.label {
  color: $custom-white-dark;
  padding-bottom: 5px;
  font-size: $font-size-medium;
  font-style: italic;
}

.data {
  color: $custom-blue;
  font-size: $font-size-medium+4;
}

.icon-to-click {
  padding-left: 20px;
  font-size: $font-size-big;
  color: $custom-blue;
  cursor: pointer;
}

.edit-blur {
  filter: blur(3px)
}

.edit-form {
  padding-top: 40px;
  padding-bottom: 50px;
}

.full-width {
  width: 100%;
}

