<div class="context">
  <div class="title-page">All Challenges</div>

  <div class="row section-filter">
    <div class="col pb-4">
      <div (click)="openFilter()">
        <mat-icon *ngIf="!filterOpen">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="filterOpen">keyboard_arrow_up</mat-icon>

        Filter
      </div>
    </div>
  </div>
    <ng-container *ngIf="filterOpen">
      <app-filter-by-car (applyFilterEvent)="applyCarFilter($event)"
                         (clearFilterEvent)="clearFilter()" [errorMessage]="errorMessageObs |async"></app-filter-by-car>
    </ng-container>
  <app-challenges-list [challengesList]="challengesListObs|async" [myId]="myId"></app-challenges-list>

</div>



