<div class="context">
  <div class="title-page">All Challenges</div>

  <div class="row sub-title" *ngIf="isModerator">
    <div class="col">
      <div (click)="goToCreate()">Create new challenge</div>
    </div>
  </div>

  <div class="row section-filter">
    <div class="col pb-4">
      <div (click)="openFilter()">
        <mat-icon *ngIf="!filterOpen">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="filterOpen">keyboard_arrow_up</mat-icon>

        Filter
      </div>
    </div>
  </div>
  <ng-container *ngIf="filterOpen">
    <div class="row pb-3">
      <form [formGroup]="form">

        <mat-form-field appearance="legacy" class="pl-5 pr-3">
          <mat-label>State</mat-label>
          <mat-select formControlName="state" (selectionChange)="filledChange()">
            <mat-option *ngFor="let state of challengeStateList" [value]="state">{{challengeStateShows[state]}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-label class="general-text pl-5 pr-3">General Challenge</mat-label>
        <input type="checkbox" placeholder="General" formControlName="general" (ngModelChange)="refreshChallenges()">

      </form>
    </div>

    <ng-container *ngIf="!isGeneral()">
      <app-filter-by-car (applyFilterEvent)="applyCarFilter($event)"
                         (clearFilterEvent)="clearFilter()"></app-filter-by-car>
    </ng-container>
  </ng-container>

  <div class="not-found">
    {{errorMessageObs | async}}
  </div>

  <ng-container *ngIf="!(challengeIsLoading |async); else spinner">
    <app-challenges-list [challengesList]="challengesListObs|async" [myId]="myId" [isAdmin]="isAdmin" [isModerator]="isModerator"
                         (deleteEvent)="deleteChallenge($event)" (mergeEvent)="goToMerge($event)"></app-challenges-list>
  </ng-container>


</div>

<ng-template class="pl-5" #spinner>
  <mat-spinner></mat-spinner>
</ng-template>

