@import "src/app/shared/styles/common-classes";
@import "~bootstrap";
.general-text{
  color: $custom-white-dark;
  font-size: $font-size-medium;
}

.not-found{
  color: $custom-warn;
  font-size: $font-size-medium;
  padding-bottom: 20px;
  padding-left: 10%;
}
