@import "src/app/shared/styles/common-classes";
@import "~bootstrap";

.border {
  border-radius: 3px;
  border: 2px solid;
  color: $custom-white-dark;
}

.points {
  color: $custom-green;
  font-size: $font-size-medium;
}

.question-text {
  font-size: $font-size-big;
  min-width: 150px;
  padding-bottom: 10px;
  padding-top: 15px;
  color: $custom-white;
  text-align: center;
}
