@import "src/styles";

.context {
  padding: 0px 60px 60px 60px;
}

.title-page {
  color: $custom-white;
  padding-bottom: 20px;
  font-size: $font-size-Xbig;
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.click {
  cursor: pointer;

  &:hover {
    color: $custom-blue;
    transition: all 500ms;
  }
}

.delete-icon {
  color: $custom-warn;
  cursor: pointer;
}

.error-message {
  color: $custom-warn;
  padding-bottom: 15px;
}

