@import "src/app/modules/profiles/components/profile-sections/section";

.save-button {
  width: 5%;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
