@import "src/styles";
@import "~bootstrap";

.context {
  padding: 10px 5% 15px 5%;
  min-width: 250px;
}
.center-text{
  text-align: center;
}

.back {
  cursor: pointer;
  color: $custom-white-dark;
  font-size: $font-size-medium;
  width: fit-content;
}

.personal-title {
  color: $custom-white;
  padding: 20px 0 20px 25px;
  font-size: $font-size-Xbig;
  font-weight: bold;

}

.my-message {
  background-color: $custom-blue;
  border-radius: 6px;
  border: 1px solid;
  width: fit-content;
  padding-right: 4px;
  padding-left: 4px;
}

.user-message {
  background-color: $custom-grey;
  border-radius: 6px;
  border: 1px solid;
  color: $custom-white;
  width: fit-content;
  padding-right: 4px;
  padding-left: 4px;
}
