<div class="context">
  <div class="back" (click)="goToConvList()">
    <mat-icon matTooltip="Back" matTooltipPosition="right">keyboard_backspace</mat-icon>
  </div>

  <div class="personal-title">{{receiverName}} {{receiverLastName}}</div>
  <mat-divider></mat-divider>
  <ng-container *ngIf="currentShowMessages; else notFound">

    <ng-container *ngIf="isShowMore">
      <div class="row">
        <div class="col-md-4 offset-md-4  col-sm-3 offset-sm-6 center-text back" (click)="loadMore()">
          Show more
        </div>
      </div>
    </ng-container>

    <ng-container *ngFor="let m of currentShowMessages">
      <ng-container *ngIf="!m.received">
        <div class="row p-2">
          <div class="col offset-md-8">
            <div class="my-message mat-elevation-z10" matTooltip="{{m.createdDate | date: 'medium'}}"
                 matTooltipPosition="left">
              Me: {{m.messageContent}}
            </div>

          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="m.received">
        <div class="row p-2">
          <div class="col-4">
            <div class="user-message mat-elevation-z10 " matTooltip="{{m.createdDate | date: 'medium'}}"
                 matTooltipPosition="right">
              {{receiverName}}: {{m.messageContent}}
            </div>

          </div>
        </div>
      </ng-container>

    </ng-container>
  </ng-container>
  <div class="row" *ngIf="showSpinner">
    <div class="col-md-5  col-sm-10 offset-md-7 pt-3">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <app-new-message (sendMessageEvent)="sendMessage($event)"></app-new-message>

</div>

<ng-template #notFound>
  <div class="row">
    <div class="col offset-6 back">
      <p> Not Found any messages. </p>
      <p> Please start conversation</p>
    </div>
  </div>
</ng-template>
