<div class="context">
  <form [formGroup]="formFilter" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">

        <mat-form-field appearance="legacy" class="pl-2 full-width">
          <mat-label>Company</mat-label>
          <mat-select formControlName="company" (selectionChange)="companySelectionChange()">
            <mat-option *ngFor="let company of companies" [value]="company">{{company}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-md-4">
        <mat-form-field appearance="legacy" class="pl-2 full-width">
          <mat-label>Model</mat-label>
          <mat-select formControlName="model" (selectionChange)="modelSelectionChange()">
            <mat-option *ngFor="let model of models" [value]="model">{{model}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-md-4">
        <mat-form-field appearance="legacy" class="pl-2 full-width">
          <mat-label>Generation</mat-label>
          <mat-select formControlName="generation" (selectionChange)="generationSelectionChange()">
            <mat-option *ngFor="let generation of generations" [value]="generation">{{generation}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <div class="row">
      <div class="col-3 pt-2">
        <button class="mat-flat-button save-button" mat-flat-button type="reset" color="warn" (click)="clearFilter()">
          Clear Filter
        </button>
      </div>
    </div>


    <div class="row error-message pt-4" *ngIf="errorMessage |async">
      <p>Challenges for  {{getCompany()}} {{getModel()}} {{getGeneration()}}  NOT FOUND</p>
    </div>

  </form>
</div>
