<div class="context-min">
  <div class="border mat-elevation-z18">

    <div class="row pt-3 sub-text-already" *ngIf="challenge.alreadyFilled">
      <div class="col">
        <mat-icon>done</mat-icon>
        You have already filled this challenge -  {{challenge.obtainPoints}} points
      </div>
    </div>

    <div class="row pt-3 header">
      <div class="col-8 offset-2">
        {{challenge.name}}
      </div>
    </div>

    <div class="row pl-3 pb-1 sub-text">
      <div class="col">
        <mat-icon>directions_car</mat-icon>
        {{challenge.company}}, {{challenge.model}}, {{challenge.generation}}
      </div>
    </div>

    <div class="row pl-3 pb-1 sub-text" (click)="goToProfile()">
      <div class="col" matTooltip="Profile" matTooltipPosition="left">
        <div class="fixed-width click">
          <mat-icon>person</mat-icon>
          {{creatorName}} {{creatorLastName}}
        </div>
      </div>
    </div>

    <div class="row pl-3 pb-1 sub-text">
      <div class="col ">
        <mat-icon>rule</mat-icon>
        {{challenge.questionsCount}} questions
      </div>
    </div>

    <div class="row pl-3 pb-1 sub-text">
      <div class="col ">
        <mat-icon>verified</mat-icon>
        {{challenge.allPoints}} points
      </div>
    </div>

    <div class="row pt-3 pb-3 click" *ngIf="!challenge.alreadyFilled">
      <div class="col-2 offset-5 ">
        <button class="mat-flat-button full-width start-button" color="accent" mat-flat-button
                (click)="startChallenge()">Start
        </button>
      </div>
    </div>
  </div>
</div>

