<div class="row align-items-center pb-4">
  <div class="col-md-1 col-lg-1 ">
    <div class="title color-white" *ngIf="cars.length>0">Cars</div>
    <div class="title not-validated" *ngIf="cars.length===0">Cars</div>
  </div>
<ng-container *ngIf="myProfile">
  <div class="col-md-1 col-lg-1 offset-md-9 offset-lg-9 ">
    <button mat-button color="primary" style="height: 40%;font-size: 18px" [ngClass]="{'button-active': isAddingCar}"
            (click)="addCar()">
      <ng-container *ngIf="isAddingCar; else addButton">
        Cancel
      </ng-container>
      <ng-template #addButton>
        Add new car
      </ng-template>
    </button>
  </div>
</ng-container>
</div>

<ng-container *ngIf="isAddingCar">
  <div class="row">
    <div class="col-md-8 col-lg-8 offset-md-3 offset-lg-3 ">
      <app-add-edit-car [isCarAdd]="true" (closeTemplate)="addCar()"></app-add-edit-car>
    </div>
  </div>
</ng-container>

<div class="row">
  <ng-container *ngFor="let car of cars">
    <div class="col property-column">
      <app-car-item [car]="car" [myProfile]="myProfile"></app-car-item>
    </div>
  </ng-container>
</div>
