<div class="context">
  <div class="row">


    <div class="col-4 offset-4">
      <div class="congrats">CONGRATULATIONS!</div>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-4 offset-4">
      <div class="done-text">Challenge done
        <mat-icon>done</mat-icon>
      </div>
    </div>
  </div>

  <div class="row pt-4">
    <div class="col-4 offset-4">
      <div class="points-text">You have received
        <p class="green-color">{{points}} points </p>
        <p class="green-color">
          <mat-icon>sentiment_satisfied_alt</mat-icon>
        </p>
      </div>
    </div>
  </div>

  <div class="row pt-6 ">
    <div class="col-4 offset-8">
      <div class="click" (click)="goToChallenges()">Go to Challenges
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>
  </div>


</div>
