@import "src/app/shared/styles/common-classes";
@import "~bootstrap";

.congrats {
  @extend .title-page;
  color: $custom-blue;
  font-size: $font-size-big;
  text-align: center;
}

.done-text {
  @extend .title-page;
  text-align: center;
  font-size: $font-size-medium+4px
}

.points-text {
  color: $custom-white-dark;
  text-align: center;
  font-size: $font-size-medium
}

.green-color {
  color: $custom-green;
}
