@import "src/styles";
@import "~bootstrap";

.context {
  padding: 0px 60px 60px 60px;
}

.personal-title {
  color: $custom-white;
  padding-bottom: 20px;
  font-size: $font-size-Xbig;
  font-weight: bold;
}

.button-section {
  width: 35%;
}

.friend-text {
  color: $custom-white-dark;
  font-size: $font-size-medium;
  font-style: italic;
}

.button-messages {
  background-color: $custom-white-dark;
  color: $custom-blue;

  height: 25px;
  border-radius: 15px;

}
