@import "src/styles";


.side-menu__container {
  position: fixed;
  padding-top: 100px;
  height: 100%;
  width: 60px;
  left: 0;
  top: 0;
  background-image: linear-gradient($custom-grey, darken($custom-grey, 2%));
  z-index: 2;
}

.side-menu__item {
  padding: 2px 5px 0px 0;
  text-align: center;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 12px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: 10px;
  color: $custom-white-dark;

  &:hover {
    color: white;
    transition: all 500ms;
  }
}

.side-menu__item--logout {
  @extend .side-menu__item;

  &:hover {
    border-right-color: $custom-warn;
    color: lighten($custom-warn, 20%);
    transition: all 500ms;
  }
}

.side-menu__icon {
  font-size: 16px;
}

.side_menu__text {
  font-size: 11px;
}

.side-menu__title {
  width: 100%;
}

.side-menu__title--container {
  text-align: center;
  position: fixed;
  height: 50px;
  width: 120px;
  padding: 14px 0px 24px 0px;
  background-color: $custom-blue;
  background-image: linear-gradient(darken($custom-blue, 5%), $custom-blue);
  border-bottom: 1px solid darken($custom-grey, 2%);
  cursor: default;
  z-index: 222;
}

p {
  margin: 0px;
}


.side-menu__title--a {
  @extend .side-menu__title;
  font-weight: 500;
  margin-right: 2px;
  padding-bottom: 0px;
  padding-top: 10px;
  color: white;
  font-size: $font-size-medium;
}

.side-menu__title--b {
  @extend .side-menu__title;
  font-size: $font-size-small;
  font-weight: 400;
  color: lighten($custom-blue, 20%);
}

.side-menu__item--active {
  background-color: $custom-blue;
  color: white;

}
