<div class="pl-4 pr-4 pt-3">
  <form class="login-form" [formGroup]="form" (ngSubmit)="applyFilter()">

    <div class="row">
      <div class="col-md-2 col-lg-2 ">
        <mat-form-field appearance="legacy" class="full-width">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" (selectionChange)="filterType()">
            <mat-option *ngFor="let type of postTypeList" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
        <error-form [control]="'type'" [form]="form"></error-form>

      </div>
    </div>

  </form>
  <app-filter-by-car (applyFilterEvent)="applyCarFilter($event)"
                     (clearFilterEvent)="clearCarFilter()"></app-filter-by-car>
</div>
