 <div class="border mat-elevation-z18">

    <div class="row points pl-4">
      <div>
        {{question.points}} points
      </div>
    </div>

    <div class="row question-text">
      <div class="col-8 offset-2">
        {{question.question}}
      </div>
    </div>
      <app-question-answer-item [answers]="question.answers"
                                [correctAnswer]="question.correctAnswer"
                                (answersChange)="addPoints($event)"></app-question-answer-item>

  </div>
