<div class="context">
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-md-5  col-sm-10 offset-md-7 pt-3">

      <form class="message-form" [formGroup]="form" (ngSubmit)="sendMessage()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Message</mat-label>
          <textarea matInput #message maxlength="256" placeholder="Message" formControlName="message"></textarea>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
        <error-form [form]="form" [control]="'message'"></error-form>

        <div class="row">
          <div class="col offset-md-10">
            <ng-container *ngIf="getText()">
              <button type="submit" mat-flat-button color="primary">Send</button>
            </ng-container>

          </div>
        </div>
      </form>
    </div>

  </div>
</div>

