<div class="context">
  <div class="border mat-elevation-z18">

    <ng-container *ngIf="post.creatorId==myId || isAdmin">
    <div class="row pt-1 pr-5 pr-md-0 type">
        <div class="col-md-1 pl-4 offset-11  align-items-end">
          <ng-container *ngIf="isOpen()">
            <mat-icon class="click color-blue" (click)="resolvePost()" matTooltip="Set as resolved" matTooltipPosition="left">
              done
            </mat-icon>
          </ng-container>
          <ng-container *ngIf="!isOpen()">

            <mat-icon class="delete-icon" (click)="deletePost()" matTooltip="Delete post" matTooltipPosition="left">
              delete
            </mat-icon>
          </ng-container>
        </div>

    </div>
    </ng-container>


    <div class="row  pt-2 pl-3 pb-4 type">
      <div class="col-2 not-validated" [ngClass]="{'color-green': isOpen()}">
        {{post.state}}
      </div>

      <div class="col-md-8 pt- 2 ">
        <div class="row text-center">
          <ng-container *ngIf="post.type=='ADVICE'">
            <mat-icon>question_answer</mat-icon>
          </ng-container>
          <ng-container *ngIf="post.type=='INFO'">
            <mat-icon>info</mat-icon>
          </ng-container>
          <ng-container *ngIf="post.type=='BORROW'">
            <mat-icon>compare_arrows</mat-icon>
          </ng-container>
          <ng-container *ngIf="post.type=='ROAD_HELP'">
            <mat-icon>handyman</mat-icon>
          </ng-container>

          {{post.type}}
        </div>
        <div class="row pt-2">
          <i>{{post.title}}</i>
        </div>

      </div>



    </div>


    <div class="row pl-3 pb-1 header">
      <div class="col">
        <mat-icon>calendar_today</mat-icon>
        {{post.createdDate | date: 'medium'}}
      </div>
    </div>

    <div class="row pl-3 pb-1 header">
      <div class="col">
        <mat-icon>location_on</mat-icon>
        {{post.location.country}}, {{post.location.city}}, {{post.location.street}}
      </div>
    </div>

    <div class="row pl-3 pb-1 header">
      <div class="col">
        <mat-icon>directions_car</mat-icon>
        {{post.car.company}}, {{post.car.model}}, {{post.car.generation}}
      </div>
    </div>

    <div class="row pt-2 pb-3 pl-4 user-names click" (click)="goToProfile()">
      <div class="col">
        {{authorName}} {{authorLastName}}
      </div>
    </div>


    <div class="row pb-4 pl-4 click" (click)="goToProfile()">
      <div>
        <div class="col body-context">
          {{post.body}}
        </div>
      </div>
    </div>


  </div>
</div>


