@import "src/app/shared/styles/common-classes";
@import "~bootstrap";

.context {
  padding: 20px 3% 20px 7%;
  color: $custom-white-dark;
  min-width: 250px;
}

.header {
  font-size: $font-size-small+2;
  min-width: 150px;
}

.border {
  border-radius: 3px;
  border: 5px solid;
}

.user-names {
  font-size: $font-size-big;

  min-width: 150px;
}

.type {
  font-size: $font-size-medium;
  color: $custom-white;
}

.body-context{
  font-size: $font-size-small+4;
}
.text-center{
  text-align: center;
}
.size-medium{
  font-size: $font-size-medium;
}

