<div class="context">
  <div class="border mat-elevation-z18">

    <div class="row pb-1 pl-3 pt-2 type">
      <div class="col-md-11">
        <ng-container *ngIf="post.type=='ADVICE'">
          <mat-icon>question_answer</mat-icon>
        </ng-container>
        <ng-container *ngIf="post.type=='INFO'">
          <mat-icon>info</mat-icon>
        </ng-container>
        <ng-container *ngIf="post.type=='BORROW'">
          <mat-icon>compare_arrows</mat-icon>
        </ng-container>
        <ng-container *ngIf="post.type=='ROAD_HELP'">
          <mat-icon>handyman</mat-icon>
        </ng-container>

        {{post.type}}: <i>{{post.title}}</i>
      </div>
      <ng-container *ngIf="post.creatorId==myId">
        <div class="col-md-1">
          <mat-icon class="delete-icon" (click)="deletePost()">delete</mat-icon>
        </div>
      </ng-container>
    </div>


    <div class="row pl-3 pb-1 header">
      <div class="col">
        <mat-icon>calendar_today</mat-icon>
        {{post.createdDate | date: 'medium'}}
      </div>
    </div>

    <div class="row pl-3 pb-1 header">
      <div class="col">
        <mat-icon>location_on</mat-icon>
        {{post.location.country}}, {{post.location.city}}, {{post.location.street}}
      </div>
    </div>

    <div class="row pl-3 pb-1 header">
      <div class="col">
        <mat-icon>directions_car</mat-icon>
        {{post.car.company}}, {{post.car.model}}, {{post.car.generation}}
      </div>
    </div>

    <div class="row pt-2 pb-3 pl-4 user-names click" (click)="goToProfile()">
      <div class="col">
        {{authorName}} {{authorLastName}}
      </div>
    </div>


    <div class="row pb-4 pl-4 click" (click)="goToProfile()">
      <div>
        <div class="col">
          {{post.body}}
        </div>
      </div>
    </div>


  </div>
</div>


