html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(99, 99, 99);
}

$custom-blue: #188cc2;
$custom-warn: #ef3727;


$font-size-big: 26px;
$font-type: Roboto;
