@import "src/app/shared/styles/common-classes";
@import "node_modules/bootstrap";

.title {
  padding: 20px;
  font-size: $font-size-big;
}

.property-column {
  padding-bottom: 20px;
}

.button-active {
  color: $custom-warn;
}

.label {
  color: $custom-white-dark;
  padding-bottom: 5px;
  font-size: $font-size-medium;
  font-style: italic;
}

.data {
  color: $custom-blue;
  font-size: $font-size-medium+4;
}

.edit-form {
  padding-bottom: 20px;
}

.full-width {
  width: 100%;
}
.not-found{
  color: $custom-warn;
  font-size: $font-size-medium;
  padding-bottom: 20px;
}

