<div class="context">
  <div class="personal-title">Users</div>

  <div class="filter-section">
    <mat-form-field>
      <mat-label>Filter users</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>
    <mat-divider></mat-divider>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnNames[column]}}</th>
      <td mat-cell *matCellDef="let element" class="click" (click)="goToProfile(element.id)"> {{element[column]}} </td>
    </ng-container>

    <ng-container matColumnDef="isYourFriend">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Friends</th>
      <td mat-cell *matCellDef="let element">

        <mat-icon *ngIf="element.isYourFriend==false" class="click" (click)="addFriend(element.id)">person_add
        </mat-icon>
        <mat-icon *ngIf="element.isYourFriend">done</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="allColumnsDisplayed; sticky: true"></tr>
    <tr mat-row *matRowDef="let user; columns: allColumnsDisplayed;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[15, 30, 50, 100]" [length]="resultsLength" [pageSize]="15"></mat-paginator>
</div>
