@import "src/styles";

table {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.context {
  padding-right: 50px;
  padding-left: 50px;
}

.click {
  cursor: pointer;
}

.filter-section {
  padding: 20px;
}

.personal-title {
  color: $custom-white;
  padding-bottom: 20px;
  font-size: $font-size-Xbig;
  font-weight: bold;
}
