@import "src/app/modules/profiles/components/profile-sections/section";

.car-card {
  max-width: 250px;
  min-width: 250px;
}

.icon-to-edit {
  @extend .click;
  color: $custom-blue;
  padding: 0;
}

.icon-to-delete {
  @extend .delete-icon;
  padding: 0;
}
