@import "src/styles";
@import "node_modules/bootstrap";

.title {
  color: $custom-white;
  padding: 20px;
  font-size: $font-size-big;
}

.full-width {
  width: 100%;
}

.add-car {
  max-height: 25px;
}

.back {
  color: $custom-white-dark;
  font-size: $font-size-medium;
  width: fit-content;
}

.edit-blur {
  filter: blur(3px)
}
